<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ride.user_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @ride.location %>
</p>

<p>
  <strong>First name:</strong>
  <%= @ride.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @ride.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ride.email %>
</p>

<p>
  <strong>Details:</strong>
  <%= @ride.details %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @ride.duration %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @ride.cost %>
</p>

<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
