
<div class="jumbotron">
  <%= cl_image_tag(@ride.image.key, :width=>283, :crop=>"scale", cloud_name: 'jcbslmn') %>
  <p class="lead">Driver: <%= @ride.first_name %> <%= @ride.last_name %> </p>
  <hr class="my-4">
  <p>
    <strong>Location:</strong>
    <%= @ride.location %>
  </p>
  
  
  <p>
    <strong>Email:</strong>
    <%= @ride.email %>
  </p>
  
  <p>
    <strong>Details:</strong>
    <%= @ride.details %>
  </p>
  
  <p>
    <strong>Duration:</strong>
    <%= @ride.duration %> Hours
  </p>
  
  <p>
    <strong>Cost:</strong>
    $<%= @ride.cost.to_i %>
  </p>
  <p class="lead">
    <button class="btn btn-primary btn-lg" id="pay-button">Book drive</button>
  </p>

<% if current_user && @ride.user_id == @user.id %>
  <%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Destroy', @ride, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', rides_path %>
</div>

<script src="https://js.stripe.com/v3/"></script>

<script>
  const stripe = Stripe('<%= ENV["STRIPE_PK"] %>')
  const payButton = document.getElementById('pay-button')

  payButton.addEventListener('click', function() {
    fetch('<%= buy_path(@ride.id) %>', {
      method: 'POST'
    })
    .then(function(response) {
      return response.json()
    })
    .then(function(session) {
      return stripe.redirectToCheckout({ sessionId: session.id })
    })
  })
  
</script>